<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pourtrait</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='print.css') }}" media="print">
</head>
<body>

<header class="fade-in">
    <h1>Pourtrait</h1>
    <nav>
        <a href="/">Generate Poster</a>
        <a href="/admin">Database</a>
    </nav>
</header>

<main class="fade-in">
    {% block content %}{% endblock %}
</main>

</body>
</html>
